*{
    margin:0;
    padding:0;
    list-style: none;
}
.box {
    float: left;
    line-height: 200px;
    text-align: center;
    box-sizing: border-box;
    margin: 5px;
    background: yellow;
}
.a1{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

/** 椭圆 border-radius 可以单独指定水平和垂直半径 宽度用作水平半径解析，高度用作垂直半径解析*/
.a2{
    width:300px;
    height:200px;
    border-radius:150px/100px;
}
.a3{
    width:300px;
    height:200px;
    border-radius:50%/50%;
}

/** 由于值是一致的 可简化 */
.a4{
    width:300px;
    height:200px;
    border-radius:50%;
}

/** border-radius 可用空格分开多个值 四个值从左上角以顺时针顺序 如果只有三个值 则第四值与第二个值相同 如果有两个值 第三个与第一个值相同 */

/** border-radius 若用 / 分开 斜杠前指水平四个值   斜杠后指 垂直四个值 */
/** 如 10px / 5px 20px  相当于 10px 10px 10px 10px / 5px 20px 5px 20px */

.a5{
    width:300px;
    height:200px;
    border-radius:50% / 100% 100% 0 0;
}
.a6{
    width:300px;
    height:200px;
    border-radius: 100% 0 0 100% / 50%;
}
.a7{
    width:300px;
    height:200px;
    border-radius: 100% 0 0 0;
}












