*{
    margin:0;
    padding:0;
    list-style:none;
}



.border{
    margin:20px;
    border:10px solid hsla(0,0%,100%,0.5);
    background:yellowgreen;
}

.border-clip{
    margin:20px;
    border:10px dashed hsla(0,0%,100%,0.9);
    background:yellowgreen;
    /** background-clip:padding-box; */
}
.box-shadow{
    margin:20px;
    background:yellowgreen;
    /** 左右偏移值  上下偏移值 模糊值 投影距离 颜色 */
    /** box-shadow:0 0 5px 10px #655; */

    /** box-shadow 是层层叠加的，第一层投影位于最顶层，依次类推，但需按此规律调整半径 */
    box-shadow:0 0 0 10px #655, 0 0 0 15px deeppink;

}

.out-line{
    margin:20px;
    background:yellowgreen;
    border:10px solid #655;
    outline: 5px solid deeppink;
    border-radius:6px;
    outline-offset:13px; /** 控制外边框与内边框间距 可以是负值 */
}

.background-position{
    height:50px;
    margin:20px;
    padding:3px;
    border:10px solid rgba(102, 85, 85, 0.41);
    background:url("../image/1.jpg") no-repeat greenyellow;

    /*
     * 回退方案
     * background:url("../image/1.jpg") no-repeat bottom right greenyellow;
     */

    background-position:right 20px bottom 10px;

}

.background-origin{
    height:50px;
    margin:20px;
    padding:10px;
    border:10px solid rgba(102, 85, 85, 0.41);
    background:url("../image/1.jpg") no-repeat greenyellow;

    /** position 定位基点 background-origin */
    background-position:right 20px bottom 10px;

}
.background-origin1{
    background-origin:border-box;
}
.background-origin2{

    background-origin:content-box;
}
.background-origin3{

    background-origin:padding-box; /** 默认值 */
}

.calc{
    height:50px;
    margin:20px;
    padding:3px;
    border:10px solid rgba(102, 85, 85, 0.41);
    background:url("../image/1.jpg") no-repeat greenyellow;

    /*
     * 回退方案
     * background:url("../image/1.jpg") no-repeat bottom right greenyellow;
     */

    background-position:calc(100% - 20px) calc(100% - 10px);

}